<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>TwitterApp</title>
  </head>
  <body>
    <table style="width: 100%" border="0" class="center">
      <tbody>
        <tr>
          <td>
<p>
<style> 
  textarea {
  width: 200px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  }
</style>
<form action="" method="POST">   
 <textarea name="status">Escreva aqui a hashtag a ser publicada!
  </textarea>
</p>
  <button type="submit" name="submit_tweet">Escrever tweet</button>
    </form>
           </td>
          <td><a style="text-decoration:none" href="readflux.html">Ler fluxo de hashtag</a> </td>
        </tr>
        <tr>
          <td> <a style="text-decoration:none"  href="newtwitter.html">Apagar hashtag</a>
          </td>
          <td> <br>
          </td>
        </tr>
      </tbody>
    </table>
    <p><br>
    </p>
  </body>
</html>
